<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="formdiv">
        <form action="/results" method="post">
            <label>Name: </label><input type="text" name="name" id="name">
            <label>Location: </label>
            <select name="location">
                <option value="sanjose">San Jose</option>
                <option value="seattle">Seattle</option>
            </select>
            <label>Language: </label>
            <select name="language">
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="ruby">Ruby</option>
            </select>
            <label>Comment: </label>
            <textarea name="comment" rows="10" cols="50">Write something here</textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>